*
{
    margin: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}


.nav-container
{
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: 0 0 5px rgb(194, 192, 192);
}

.nav    
{
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
}

.nav__link
{
    padding: 10px 22px 0 45px;
    height: 50px;
    text-decoration: none;
    font: 19px/32px "Georgia";
    color: #333;
    transition: .15s all;
}

.nav__link:hover
{
    color: #f5f5f5;
    background-color: #15a98c;
    transition: .15s all;
}

.nav__link_video, 
.nav__link_hobby, 
.nav__link_about-me
{
    position: relative;
}

.nav__link_about-me::before, 
.nav__link_video::before, 
.nav__link_hobby::before
{
    content: "";
    background: url("../img/about_me_icon.png");
    position: absolute;
    width: 14px;
    height: 16px;
    top: 17px;
    left: 21px;
}

.nav__link_about-me:hover::before
{
    background: url("../img/about_me_icon_ver2.png");
}

.nav__link_video::before
{
    background: url("../img/video_icon.png");
    width: 16px;
    height: 16px;
    left: 19px;
    top: 17px;
}

.nav__link_video:hover::before
{
    background: url("../img/video_icon_ver2.png");
}

.nav__link_hobby::before
{
    background: url("../img/hobby_icon.png");
    width: 16px;
    height: 16px;
    top: 18px;
    left: 20px;
}

.nav__link_hobby:hover::before
{
    background: url("../img/hobby_icon_ver2.png");
}

.main-container
{
    margin: 0 auto;
    /* padding: 0 20px 0 20px; */
    margin-top: 50px;
    background: url("../img/Top.png") top center no-repeat;
    width: 100%;
    max-width: 100%;
    /* max-width: 1200px; */
}

.part-one
{
    margin: 0 auto;
    padding: 210px 20px 0 20px;
    /* padding-top: 210px; */
    width: 100%;
    max-width: 960px;
}

.part-one__wrapper
{
    display: flex;
    flex-direction: column;
}

.part-one__image
{
    width: 100%;
    max-width: 330px;
    max-height: 350px;
}

/* .quote-container
{
    width: 100%;
    margin: 25px 0 0 63px;
} */

.quote-container
{
    margin-top: 30px;
}

.quote-container__blockquote
{
    margin: 0 0 1.8px 0;
    font: italic 28px/42px "Georgia";
    /* Цвет для десктопа
    color: #fff; */
    color: #333;
    position: relative;
}

.quote-container__blockquote::before
{
    content: "";
    position: absolute;
    top: -70px;
    left: -60px;
    background: url("../img/quotes.png");
    width: 130px;
    height: 87px;
}

.quote-container__cite
{
    /* Цвет для десктопа
    color: #f5f5f5; */
    color: #333;
    padding-left: 3.3px;
    font: 600 16px/42px "Open Sans", sans-serif;
}

.quote-container__name
{
    margin-top: 83px;
    font: 700 48px/42px "Open Sans", sans-serif;
    color: #333;
    position: relative;
}

.quote-container__name::before
{
    content: "";
    width: 60px;
    height: 6px;
    background: #45c3aa;
    border-radius: 10%/40%;
    position: absolute;
    bottom: -36px;
    left: -3px;
}



.left-column
{
    margin-top: 43px;
    width: 100%;
    max-width: 340px;
}

.left-column__title
{
    margin-top: 2px;
    font: 600 24px/32px "Open Sans", sans-serif;
    color: #15a98c;
}

.left-column__list
{
    margin: 13px 0 40px 1px;
    padding-left: 20px;
}

.left-column__item
{
    width: 100%;
    max-width: 330px;
    font: 19px/36px "Georgia";
    color: #555;
}

/* .right-column
{
    padding: 8px 0 0 390px;
} */

.right-column__text
{
    width: 100%;
    max-width: 560px;
    font: 19px/32px "Georgia";
    color: #555;
}

.right-column__title
{
    font: 400 36px/42px "Open Sans", sans-serif;
    color: #333;
    margin: 42px 0 15.5px -1.5px;
}

.right-column__link
{
    clear: both;
    display: inline-block;
    font: 19px/32px "Georgia";
    color: #15a98b;
    position: relative;
    text-decoration: none;
    margin: 41px 0 1px 0;
}

.right-column__link::before
{
    content: "\2192";
    color: #15a98b;
    height: 20px;
    position: absolute;
    left: 120px;
}

.right-column__link::after
{
    content: "";
    height: 2px;
    width: 115px;
    background: #15a98b;
    position: absolute;
    top: 25px;
    left: 0px;
}

.right-column__link:hover::after
{
    background: #098d72;
}

.right-column__link:hover, 
.right-column__link:hover::before
{
    color: #098d72;
}

.part-two
{
    margin: 0;
    padding: 0 20px 0 20px;
    background: #f9f9f9;
}

.film-container
{
    margin: 0 auto;
    margin-top: 56px;
    padding-top: 37px;
    width: 100%;
    max-width: 1200px;
}

.film-container__title
{
    font: 400 36px/42px "Open Sans";
    color: #333;
    margin-bottom: 32px;
}

.film-columns
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    /* flex-direction: column; */
}

/* Новое к js */
.film-columns__slider
{
    cursor: pointer;
    position: absolute;
}

.film-columns__slider_previous
{
    left: 0;
}

.film-columns__slider_next
{
    right: 0;
}

/* .film-columns::before
{
    content: "";
    position: absolute;
    cursor: pointer;
    top: 50%;
    height: 70px;
    width: 70px;
    background-color: #15a98c;
    margin-top: -22px;
    padding: 16px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
} */

.slider .previous, .slider .next {
    /* Добавляет курсору иконку, когда тот оказывается над кнопкой: */
    cursor: pointer;
    /* Положение элемента задаётся относительно границ браузера: */
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    /* Оформление самих кнопок: */
    color: white;
    font-weight: bold;
    font-size: 16px;
    /* Плавное появление фона при наведении курсора: */
    transition: 0.6s ease;
    /* Скругление границ: */
    border-radius: 0 3px 3px 0;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.film-columns__film
{
    width: 100%;
    max-width: 285px;
    /* самое главное
    /* margin-right: 20px; */
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 30px;
}

.film-columns__image
{
    width: 100%;
}

.film-columns__title
{
    padding: 19px 0 17px 0;
    font: 700 22px/32px "Open Sans";
    color: #333;;
}

.film-columns__description
{
    font: 16px/28px "Georgia";
    color: #555;
}

.button
{
    margin: 0 auto;
    width: 100%;
    max-width: 220px;
    margin-top: 54px;
    padding-bottom: 60px;
}

.film-container__button
{
    width: 100%;
    max-width: 220px;
    height: 50px;
    text-align: center;
    align-items: center;
    background: #15a98b;
    font: 19px/32px "Georgia";
    color: #f5f5f5;
    border-radius: 5px;
    border: 0;
    margin-left: -10px;
}

.film-container__button:hover
{
    background: #098d71;
}

.header-container
{
    margin: 45px auto;
    width: 100%;
    max-width: 260px;
}

.header-container__title
{
    text-transform: uppercase;
    font: 300 36px/42px "Open Sans";
    color: #333;
    margin-left: 2px;
    position: relative;
    display: inline-block;
}

/* .header-container__title::before, 
.header-container__title::after
{
    content: "";
    height: 1px;
    width: 100px;
    background: #c4c4c4;
    position: absolute;
    top: 21px;
    left: -100px;
} */

/* Десктопная версия черточек !!! очень важно */

/* hr
{
    width: 100%;
    display: inline-block;
} */

/* .header-container__title::before, 
.header-container__title::after
{
    content: "";
    overflow: hidden;
    height: 1px;
    width: 100%;
    max-width: 200px;
    background: #c4c4c4;
    position: absolute;
    top: 21px;
}

.header-container__title::before
{
    left: -228px;
}

.header-container__title::after
{
    right: -220px;
} */

.footer
{
    background: #f5f5f5;
    min-height: 70px;
    font: 16px/32px "Georgia";
    color: #555;
}

.footer__title
{
    margin: 0 auto;
    width: 100%;
    max-width: 750px;
    padding: 20px 0 0 8px;
}

.form
{
    margin: 0 auto;
    padding: 0 20px 0 20px;
    width: 100%;
    max-width: 540px;
    padding-top: 22px;
}

.submit
{
    display: block;
    margin: 46px 0 47px 0;
}

.form__input
{
    width: 100%;
    height: 50px;
    padding-left: 18px;
    font: 400 15px/32px "Open Sans";
    color: #555;
    border: 2.5px solid #c9c9c9;
    border-radius: 3px;
    margin: 3px 0 25px 0;
}

.form__text
{
    height: 150px;
    resize: none;
    margin: 2px 0 0 0;
}

.form__title
{
    font: 400 20px/32px "Open Sans";
    color: #333;
    display: block;
    position: relative;
}

.gender, 
.country
{
    font: 400 18px/32px "Open Sans";
    color: #333;
    padding: 0 35px 0 5px;
}

.form__select
{
    position: relative;
}

.country
{
    display: block;
    padding: 0 0 0 16px;
    margin-top: 4px;
    appearance: none;
}

.form__select::before
{
    content: "";
    position: absolute;
    transform: rotate(45deg);
    height: 14px;
    width: 14px;
    border-bottom: 2px solid #c9c9c9;
    border-right: 2px solid #c9c9c9;
    right: 20px;
    top: 14px;
}

/* Десктопная версия галочки !!! важно*/
/* .form__select::before
{
    content: "";
    position: absolute;
    transform: rotate(45deg);
    height: 14px;
    width: 14px;
    border-bottom: 2px solid #c9c9c9;
    border-right: 2px solid #c9c9c9;
    left: 503px;
    top: 14px;
} */

.form__title_gender
{
    margin: 40px 0 5px 0;
}


.form__title_message
{
    padding-top: 36px;
}

.form__input:focus
{
    border-color: #15a98c; 
    outline: none; 
}

.form__title::before
{
    content: "\002A";
    color: #ee0707;
    position: absolute;
    left: 102px;
}

.form__title_country::before, 
.form__title_gender::before
{
    display: none;
}

.form__title_message::before
{
    left: 174px;
}

.form__feedback
{
    display: none;
    color: green;
}

.form__feedback::before 
{
    display: none;
}

.form__feedbackBorder 
{
    /* border: 2.5px solid #c9c9c9; */
    border-color: rgb(190, 86, 86);
}

.form__success 
{
    display: block;
}

@media screen and (min-width: 480px)
{
    .nav
    {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .part-one
    {
        padding-top: 180px;
    }
    .header-container__title::before, 
    .header-container__title::after
    {
        content: "";
        overflow: hidden;
        /* overflow-x: hidden; */
        height: 1px;
        width: 100px;
        background: #c4c4c4;
        position: absolute;
        top: 21px;
    }
    .header-container__title::before
    {
        left: -110px;
    }
    
    .header-container__title::after
    {
        right: -112px;
    }
    
    
}

@media screen and (min-width: 768px)
{
    .nav,
    .film-columns,
    .part-one__wrapper
    {
        flex-direction: row;
    }
    .main-container
    {
        padding: 0;
    }

    .quote-container__blockquote
    {
        color: #fff;
    }
    .quote-container__cite
    {
        color: #f5f5f5;
    }   
    
    .right-column
    {
        margin-left: 50px;
        margin-top: 8px;
    }
    .quote-container
    {
        width: 100%;
        margin: 25px 0 0 63px;
    }
    /* ЩЧЕНЬ ВАЖНО!!!
    /* .film-columns__film:last-child
    {
        margin: 0;
    } */
    .quote-container__name
    {
        margin-top: 53px;
    }
    .header-container__title::before, 
    .header-container__title::after
    {
        content: "";
        overflow: hidden;
        /* overflow-x: hidden; */
        height: 1px;
        width: 100%;
        max-width: 200px;
        background: #c4c4c4;
        position: absolute;
        top: 21px;
    }
    
    .header-container__title::before
    {
        left: -228px;
    }
    
    .header-container__title::after
    {
        right: -220px;
    }
}

@media screen and (min-width: 1024px) 
{
    .form
    {
        padding-left: 0;
        padding-right: 0;
    }
    .part-one
    {
        padding-top: 210px;
        padding-left: 0;
        padding-right: 0;
    }
    .quote-container__name
    {
        margin-top: 83px;
    }
    /* .form
    {
        padding-top: 22px;
    } */
}