*
{
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    background-color: rgb(194, 157, 157);
}

/* .first-container
{
    margin-top: 100px;
    height: 350px;
} */

.part-one, .part-two
{
    display: flex;
    justify-content: flex-start;
}

.part-one
{
    padding-top: 100px;
    padding-bottom: 44px;
}

.quote-container
{
    /* margin: 0;
    margin: 119px 0 0 120px; */
    margin-top: 119px;
    margin-left: 120px;
    vertical-align: top;
    width: 100%;
    max-width: 450px;
    /* width: 450px;  */
    /* padding: 119px 0 0 180px; */
}

.part-one__image
{
    display: block;
    object-fit: cover;
    margin: 0;
    /* float: left; */
    max-width: 100%;
    width: 100%;
    max-width: 330px;
    /* min-width: 330px; */
    /* max-width: 330px; */
    max-height: 350px;
    /* height: a; */
}

.quote-container__blockquote
{
    margin: 0 0 1.8px 0;
    font: italic 28px/42px "Georgia";
    color: #848484;
    position: relative;
}

.quote-container__blockquote::before
{
    content: "";
    position: absolute;
    top: -70px;
    left: -60px;
    background: url("../images/quotes.png");
    width: 130px;
    height: 87px;
}

.quote-container__cite
{
    padding-left: 3.3px;
    font: 600 16px/42px "Open Sans", sans-serif;
    color: #333;
}


.second-container
{
    margin: 44px 0 200px 0;
    clear: both;
}

.left-column
{
    max-width: 340px;
    width: 100%;
    vertical-align: top;
}


.left-column__title
{
    margin-top: 2px;
    font: 600 24px/32px "Open Sans", sans-serif;
    color: #15a98c;
}

.left-column__list
{
    margin: 13px 0 40px 1px;
    padding-left: 20px;
}

.li 
{   
    font: 19px/36px "Georgia";
    color: #555;
}

/* .first-list
{
    margin-top: 15px;
} */

/* .right-column
{
    padding-left: 389px;
} */

.right-column__name
{
    margin-bottom: 82px;
    padding-left: 4px;
    font: 700 48px/42px "Open Sans", sans-serif;
    color: #333;
    position: relative;
}

.right-column__name::before
{
    content: "";
    width: 60px;
    height: 6px;
    background: #45c3aa;
    border-radius: 10%/40%;
    position: absolute;
    top: 74px;
    left: 0;
}

.right-column__text
{
    margin: 0 0 42px 0;
    max-width: 560px;
    width: 100%;
    font: 19px/32px "Georgia";
    color: #555;
}

.right-column__title
{
    font: 400 36px/42px "Open Sans", sans-serif;
    color: #333;
    margin: 0 0 15.5px -1.5px;
}

.right-column__link
{
    color: #15a98b;
    font: 19px/32px "Georgia";
    position: relative;
}

.right-column__link::before
{
    content: "\2192";
    color: #15a98b;
    height: 20px;
    position: absolute;
    left: 120px;
}
.right-column__link:hover, .right-column__link:hover::before
{
    color: #098d72;
}